<header id="title-block-header">
  $if(session)$<p class="session">$session$</p>$endif$
  $if(title)$<h1 class="title">$title$</h1>$endif$
  $if(subtitle)$
  <p class="subtitle">$subtitle$</p>
  $endif$
</header>
<div class="project-details-container">
  <div class="project-members-container">
    <h5>Project Members</h5>
    $for(project-members)$
    <div class="project-member">
      <p class="name">$project-members.name$</p>
      <p class="designation">$project-members.designation$</p>
    </div>
    $endfor$
  </div>
  $if(project-description)$<div class="project-description-container">
    <h5>Project Description</h5>
    <p class="project-description">$project-description$</p>
  </div>$endif$
</div>